.container {
    background-color: #1600a2;
    height: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

    .logo {}


    .username {
        color: #FFFFFF;
        font-weight: bold;
        transform: translateY(25%);
        -ms-transform: translateY(25%);
        -moz-transform: translateY(25%);
        -webkit-transform: translateY(25%);
        -o-transform: translateY(25%);
        > span {
            margin-right: 20px;
        }
    }
}